.collection-card__card{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
}

.collection-card__name-container{
    text-align: center;
    margin: 15px;
}
.collection-card__image{
    width: 100%;
    height: 30%;
    border-radius: 5px 5px 0px 0px;
    background-position-x: 50%;
    background-position-y: 25%;
}
.collection-card__info-container{
    border: rgb(0, 0, 0) 1px solid;
    border-top-color: transparent;
    border-radius: 0px 0px 5px 5px;

}
.collection-card__stats{
    
    

    .collection-card__stat-row{
        display: flex;
        justify-content: space-between;
        border-top: solid 1px black;
        padding: 20px;
        &:last-child{

            border-bottom: solid 1px black;
        }
    }

  ul {
    list-style: none;
    
  }
  h5{
      margin: 0;
  }
}
.collection-card__details-btn{
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}