.orders-page__main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .orders-page__list{
        margin-top: 15px;
        margin-bottom: 15px;

        .orders-page__order{
            margin-bottom: 15px;
        }
    }
    .orders-page__loading{
        margin-left: 15px;
    }
}


