.card-content__card{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;

    .card-content__heading-container{
        border-bottom: 1px solid black;
        padding: 5px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bolder;
       
    }
}